@page
@model IndexModel
@{
    ViewData["Title"] = "Optymalizacja tras";
}

<div class="text-center">
    <h1 class="display-4">Optymalizacja tras pojazdów dostawczych</h1>
    <p>Aplikacja do wyznaczania optymalnych tras z uwzględnieniem niepewności.</p>
    <a class="btn btn-primary btn-lg mt-4" href="/Formularz">Rozpocznij</a>
</div>
